<html>
  <head>
    <title>BizViz | 지원사업 검색을 한 눈에</title>
    <script
      src="https://kit.fontawesome.com/5069658de9.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="page-header">
      <h1><a href="/">BizViz</a></h1>
      <h4><a href="/statistics/">통계 • 분석</a></h4>
    </header>
    {% block content %} {% endblock %}
    <footer class="page-footer">
      <a href="https://github.com/bin7665/BizViz"
        ><i class="fab fa-github"></i
      ></a>
      <a href="https://www.facebook.com/Bizbot-112832366753168"
        ><i class="fab fa-facebook"></i
      ></a>
      <a href="https://pf.kakao.com/_DbxgnC"
        ><i class="fab fa-kickstarter-k"></i
      ></a>
    </footer>
  </body>
</html>
