{% extends 'BizViz/base.html' %} {% load static %}{% block active %}
<li class="nav-item active">
  <a class="nav-link" href="/"
    >검색
    <div class="sr-only">Home</div></a
  >
</li>
<li class="nav-item">
  <a class="nav-link" href="/statistics/">통계 • 분석</a>
</li>
{% endblock %} {% block content %}
<div class="content">
  <div class="main-search-container container">
    <div class="main-title row">
      <div class="col d-flex justify-content-center mt-5 pt-5">
        <h1>관심 있는 지원사업을 검색해보세요.</h1>
      </div>
    </div>
    <div class="main-search-part row text-center my-2">
      <div class="col input-group">
        <input type="text" class="support-search form-control" />
        <div class="input-group-append">
          <div class="search-btn btn">검색 <i class="fas fa-search"></i></div>
        </div>
      </div>
    </div>
    <div class="main-search-filter row d-flex justify-content-center">
      <!-- 이건 나중에 바꿔야겠다. 그냥은 별로 안 예쁨 -->
      <div class="search-reset col-12 col-sm-2">
        검색조건 <i class="fas fa-sync-alt"></i>
      </div>
      <div class="search-filter-region col-12 col-sm-2">
        <div class="search-filter-btn">
          <div class="dropdown">
            <button
              class="btn btn-sm btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              지역 (17/17)
            </button>
            <!-- checkbox 범위 조정하는 건 나중에 자바스크립트로 button을 만들어주자 -->
            <style>
              .region-filter {
                width: 25rem;
              }
            </style>
            <form class="region-filter dropdown-menu p-2"></form>
          </div>
        </div>
      </div>
      <div class="search-filter-category col-12 col-sm-2">
        <div class="search-filter-btn">
          <div class="dropdown">
            <button
              class="btn btn-sm btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              분야 (45/45)
            </button>
            <style>
              .category-filter {
                width: 30rem;
              }
            </style>
            <form class="category-filter dropdown-menu p-2"></form>
          </div>
        </div>
      </div>
      <div class="search-filter-business_type col-12 col-sm-2">
        <div class="search-filter-btn">
          <div class="dropdown">
            <button
              class="btn btn-sm btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              기업형태 (7/7)
            </button>
            <style>
              .business-filter {
                width: 1rem;
              }
            </style>
            <form class="business-filter dropdown-menu p-2"></form>
          </div>
        </div>
      </div>
      <div class="search-filter-department col-12 col-sm-2">
        <div class="search-filter-btn">
          <div class="dropdown">
            <button
              class="btn btn-sm btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              부처 / 지자체 (39/39)
            </button>
            <style>
              .department-filter {
                width: 45rem;
              }
            </style>
            <form
              class="department-filter dropdown-menu dropdown-menu-right p-2"
            ></form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-graph-container container my-3">
    <div class="row my-5">
      <div class="graph-contents graph-support-top5 col">
        <div class="main-graph-title">
          가장 인기 있는 지원사업 top5
        </div>
        <div class="main-graph-container">
          <img
            src="https://i1.wp.com/hleecaster.com/wp-content/uploads/2019/08/4.png?w=1200"
            alt="bar chart 1"
          />
        </div>
      </div>
      <div class="graph-contents graph-depart-top5 col">
        <div class="main-graph-title">
          공고를 많이 낸 부처/지자체 top5
          <span
            data-toggle="tooltip"
            data-placement="bottom"
            title="부서/지자체 조건은 영향을 미치지 않습니다."
          >
            <i class="fas fa-info-circle"></i>
          </span>
        </div>
        <!-- <div class="graph-depart-warning">
          information icon 클릭 시에 표시 --
          부서/지자체 조건은 영향을 미치지 않습니다.
        </div> -->
        <div class="main-graph-container">
          <img
            src="https://images.ctfassets.net/fevtq3bap7tj/5FSJrJeDIIGAmGCsGcQ8S4/e2fc867a487614b47f72104a36fbcf7f/simple-column.png"
            alt="bar chart 2"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="main-support-container container mb-5">
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target=".depart-modal"
    >
      Large modal
    </button>
    <!-- <script>
      const modal = document.querySelector(".modal-body");
      modal.innerHTML = getBody("./statistics/중소벤처기업부/");
    </script> -->
    <div class="supports-list row infinite-container">
      <!-- css 분리 시키기 -->
      <!-- title이 50자 이상일 때는 뒤에 ... 붙이기 -->
      <!-- card background에 기업마당 로고나 bizbot 로고 넣으면 괜찮을 듯 -->
      {% for support in supports %}
      <div class="col-12 col-sm-6 col-xl-4 my-3 infinite-item">
        <div class="support-card card" style="height: 15.5rem;">
          <div class="card-header">
            <div class="support-depart">
              <h6 class="m-0">
                {{ support.project_depart }}
                <span
                  onclick="modalFunction('{{ support.project_depart }}')"
                  class="depart-btn btn p-0 mb-1"
                  data-toggle="modal"
                  data-target=".depart-modal"
                >
                  <i class="fas fa-search-plus"></i>
                </span>
              </h6>
            </div>
          </div>
          <div class="card-body d-flex flex-column justify-content-between">
            <div class="support-name card-title">
              <h5>{{ support.project_name|truncatechars:53 }}</h5>
            </div>
            <div class="support-d-day card-subtitle align-self-end">
              D - 20
            </div>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <div class="support-date">{{ support.period_date }}</div>
            <div class="support-hits">
              views: {{ support.project_hits }}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% if page_obj.has_next %}
    <a
      class="infinite-more-link"
      href="?page={{ page_obj.next_page_number }}"
    ></a>
    {% endif %}
    <div class="d-flex justify-content-center" style="display: none;">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade depart-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="department-description-modal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>

{% endblock %} {% block script %}
<script>
  const modal = document.querySelector(".depart-modal");
  const pythonDict = "{{ departs }}".replace(/&quot;/g, '"');
  const parsedDict = JSON.parse(pythonDict);
  console.log(parsedDict);
  function modalFunction(depart) {
    const modalTitle = document.querySelector(".modal-title");
    const modalBody = document.querySelector(".modal-body");
    const departDict = parsedDict.filter((item) => item.pk === depart)[0]
      .fields;
    modalTitle.innerHTML = depart;
    modalBody.innerHTML = `<div class="department-container container" style="width: 47.5rem;">
  <div class="row">
    <div class="department-logo my-auto col-8 col-sm-11 col-lg-4">
      <img
        src="../../static/${departDict.depart_image}"
        alt="${depart} logo"
        style="width: 100%;"
      />
    </div>
    <div class="department-table col-8 col-sm-11 col-lg-8">
      <!-- <div class="department-table-detail col-8"> -->
      <!-- css는 나중에 분리시키기!!!! -->
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row" style="width: 6rem;" class="text-center">
              부서이름
            </th>
            <td colspan="2">${depart}</td>
          </tr>
          <tr>
            <th
              scope="row"
              style="width: 6rem; height: 4.2rem;"
              class="text-center align-middle"
            >
              부서위치
            </th>
            <td colspan="2" class="align-middle">${departDict.depart_loc}</td>
          </tr>
          <tr>
            <th scope="row" style="width: 6rem;" class="text-center">
              지원사업
            </th>
            <td colspan="2">${departDict.total_project}</td>
          </tr>
          <tr>
            <th
              scope="row"
              style="width: 6rem;"
              class="text-center align-middle"
              rowspan="2"
            >
              예산
            </th>
            <td class="text-center">세입</td>
            <td>${departDict.tax_income}</td>
          </tr>
          <tr>
            <td class="text-center">세출</td>
            <td>${departDict.tax_outcome}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="department-graph col-12 my-3">
      <div class="department-graph-filter">
        <span class="department-filter-btn">
          지역 <i class="fas fa-caret-down"></i>
        </span>
      </div>
      <div class="graph-container d-flex justify-content-around m-2">
        <div class="department-graph-container">
          <img
            src="https://i1.wp.com/hleecaster.com/wp-content/uploads/2019/08/4-1.png?w=1200"
            alt="pie chart 1"
            style="width: 15rem;"
          />
        </div>
        <div class="department-graph-container">
          <img
            src="https://i.pinimg.com/originals/58/d5/dd/58d5dd8f888d50125d65f3141b4c2c19.png"
            alt="line chart 1"
            style="width: 30rem;"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="department-description col-12 my-3">
      <div class="description-title mb-3">
        <h4>설명</h4>
      </div>
      <!-- css는 나중에 분리시키기!!!! -->
      <div class="description-content" style="height: 11rem;">
        ${departDict.depart_desc}
      </div>
    </div>
  </div>
</div>
`;
  }
</script>

<script type="text/javascript" src="{% static 'js/datas.js' %}"></script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<script
  type="text/javascript"
  src="{% static 'js/jquery-2.2.4.min.js' %}"
></script>
<script
  type="text/javascript"
  src="{% static 'js/jquery.waypoints.min.js' %}"
></script>
<script type="text/javascript" src="{% static 'js/infinite.min.js' %}"></script>
<script>
  const infinite = new Waypoint.Infinite({
    element: $(".infinite-container")[0],
    handler: function (direction) {},
    offset: "bottom-in-view",
    onBeforePageLoad: function () {
      $(".spinner-border").show();
    },
    onAfterPageLoad: function () {
      $(".spinner-border").hide();
    },
  });
</script>
{% endblock %}
