{% extends 'BizViz/base.html' %} {% load static %} {% block css %}
<style type="text/css">
  ul > input {
    position: fixed;
  }

  .not-filtered {
    display: none;
  }
  /* ul > li > dr:active {
    background-color: #ffffff !important;
  } */
  .dropdown-item:active,
  .dropdown-item:hover {
    background-color: rgb(255, 255, 255) !important;
    cursor: default;
  }
  .selected > .dropdown-item {
    background-color: rgb(249, 249, 249) !important;
  }
  .btn:focus,
  .btn:active,
  .form-control:focus,
  .form-control:active {
    outline: none !important;
    box-shadow: none !important;
  }
  .force-scroll {
    overflow-y: scroll;
    max-height: 20rem;
  }
</style>
<!-- <link rel="stylesheet" href="{% static 'css/chosen.css' %}" /> -->

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css"
/>
{% endblock %} {% block active %}
<li class="nav-item">
  <a class="nav-link" href="/">검색<span class="sr-only">Home</span></a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="/statistics/">통계 • 분석</a>
</li>
{% endblock %} {% block content %}
<div class="content">
  <div class="main-statistics-compare">
    <div class="statistics-compare-title m-5 text-center">
      <h2>
        비교할 부서 / 지자체를 선택해주세요.
      </h2>
    </div>
    <div class="statistics-compare-area d-flex justify-content-around mb-5">
      <div class="statistics-container ml-5">
        <div class="select-depart m-2">
          <select
            data-placeholder="부서를 선택해주세요"
            class="chosen-select"
            tabindex="2"
          >
            <option value=""></option>
            {% for depart in departs %}
            <option value="{{ depart }}">{{ depart }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="basic-department border border-secondary">
          {{ basic }}
        </div>
      </div>
      <div class="compare-exchange align-self-center">
        <span class="btn">
          <i class="fas fa-exchange-alt fa-3x"></i>
        </span>
      </div>
      <div class="statistics-container mr-5">
        <div class="select-depart m-2">
          <select
            data-placeholder="부서를 선택해주세요"
            class="chosen-select"
            tabindex="2"
          >
            <option value=""></option>
            {% for depart in departs %}
            <option value="{{ depart }}">{{ depart }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="compare-department border border-secondary">
          {{ compare }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<!-- to select department -->
<script src="{% static 'js/chosen.jquery.js' %}"></script>
<script>
  $(function () {
    $(".chosen-select").chosen({ search_contains: true });
    $(".chosen-select").val("강원도").trigger("chosen:updated");
  });
</script>
{% endblock %}
